@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Inconsolata;
}

p {
  font: 16px;
}

ul,
ol,
li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #f2f2f2;
}

a:hover {
  color: #ccc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header,
section,
nav,
article,
aside,
footer {
  display: block;
}

body {
  color: #f2f2f2;
  background-color: #000;
}

body header {
  display: none;
}

@media screen and (min-width: 1920px) {
  body header {
    display: inline;
  }
}

@media screen and (min-width: 1920px) {
  body header h1 {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

body main section.description-1 {
  overflow: hidden;
}

body main section.description-1 .banner-img {
  display: block;
  width: 100%;
  position: absolute;
  padding-top: 20%;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  body main section.description-1 .banner-img {
    padding-top: 0;
  }
}

body main section.description-1 .confix .main-top {
  padding-top: 2%;
  padding-left: 4%;
  padding-right: 4%;
  position: relative;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  height: 580px;
}

@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top {
    height: 780px;
  }
}

@media screen and (min-width: 1320px) {
  body main section.description-1 .confix .main-top {
    height: 980px;
  }
}

body main section.description-1 .confix .main-top .num-motion {
  position: absolute;
  left: 3%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .num-motion {
    font-size: 3vmin;
  }
}

@media screen and (min-width: 1320px) {
  body main section.description-1 .confix .main-top .num-motion {
    height: 900px;
    line-height: 36px;
  }
}

body main section.description-1 .confix .main-top .docty {
  position: absolute;
  left: 10%;
  color: #003c8f;
}

@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .docty {
    font-size: 3vmin;
  }
}

@media screen and (min-width: 1320px) {
  body main section.description-1 .confix .main-top .docty {
    height: 900px;
    line-height: 36px;
  }
}

body main section.description-1 .confix .main-top .hello {
  position: absolute;
  top: 18%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body main section.description-1 .confix .main-top .hello .hello-left {
  font-size: 0.9em;
  color: #b6c017;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .hello .hello-left {
    font-size: 2.5vmin;
  }
}

body main section.description-1 .confix .main-top .hello .hello-text {
  width: 250px;
  height: 60px;
  line-height: 60px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  -webkit-filter: drop-shadow(3px 4px 1px rgba(255, 255, 255, 0.7));
          filter: drop-shadow(3px 4px 1px rgba(255, 255, 255, 0.7));
}

@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .hello .hello-text {
    width: 40vmax;
    height: 10vmin;
    line-height: 10vmin;
  }
}

@media screen and (min-width: 1320px) {
  body main section.description-1 .confix .main-top .hello .hello-text {
    width: 35vmax;
    height: 11vmin;
    line-height: 11vmin;
  }
}

body main section.description-1 .confix .main-top .hello .hello-text p {
  font-size: 1.4em;
  text-align: center;
  color: #333;
}

@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .hello .hello-text p {
    font-size: 3vw;
  }
}

@media screen and (min-width: 1320px) {
  body main section.description-1 .confix .main-top .hello .hello-text p {
    font-size: 2.5vw;
  }
}

body main section.description-1 .confix .main-top .hello .balloon_triangle {
  position: absolute;
  bottom: 0%;
  left: 50%;
  display: block;
  width: 0px;
  height: 0px;
  border-top: solid 30px #fff;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
  -webkit-filter: drop-shadow(1px 4px 1px rgba(255, 255, 255, 0.7));
          filter: drop-shadow(1px 4px 1px rgba(255, 255, 255, 0.7));
  -webkit-transform: translate(-50%, 42%);
          transform: translate(-50%, 42%);
}

@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .hello .balloon_triangle {
    border-top: solid 50px #fff;
    border-left: solid 25px transparent;
    border-right: solid 25px transparent;
    -webkit-transform: translate(-50%, 47%);
            transform: translate(-50%, 47%);
  }
}

@media screen and (min-width: 1320px) {
  body main section.description-1 .confix .main-top .hello .balloon_triangle {
    border-top: solid 70px #fff;
    border-left: solid 35px transparent;
    border-right: solid 35px transparent;
    -webkit-transform: translate(-50%, 57%);
            transform: translate(-50%, 57%);
  }
}

body main section.description-1 .confix .main-top .hello .hello-right {
  float: right;
  font-size: 0.9em;
  color: #b6c017;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .hello .hello-right {
    font-size: 2.5vmin;
  }
}

body main section.description-1 .confix .main-top .its-me {
  position: absolute;
  top: 42%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body main section.description-1 .confix .main-top .its-me .its-left {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.9em;
  color: #d38e44;
  -webkit-transform: translateX(-90%);
          transform: translateX(-90%);
}

@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .its-me .its-left {
    font-size: 2.5vmin;
  }
}

body main section.description-1 .confix .main-top .its-me .its-images {
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50%;
  background-color: #656565;
}

@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .its-me .its-images {
    width: 13vmax;
    height: 13vmax;
  }
}

@media screen and (min-width: 1320px) {
  body main section.description-1 .confix .main-top .its-me .its-images {
    width: 7vmax;
    height: 7vmax;
  }
}

body main section.description-1 .confix .main-top .its-me .its-images .image {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background-color: #fff;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
}

@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .its-me .its-images .image {
    width: 12vmax;
    height: 12vmax;
  }
}

@media screen and (min-width: 1320px) {
  body main section.description-1 .confix .main-top .its-me .its-images .image {
    width: 6.4vmax;
    height: 6.4vmax;
  }
}

body main section.description-1 .confix .main-top .its-me .its-right {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.9em;
  color: #d38e44;
  -webkit-transform: translateX(90%);
          transform: translateX(90%);
}

@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .its-me .its-right {
    font-size: 2.5vmin;
  }
}

body main section.description-1 .confix .main-top .title {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body main section.description-1 .confix .main-top .title .title-left {
  font-size: 0.9em;
  color: #ab47bc;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .title .title-left {
    font-size: 2.5vmin;
  }
}

body main section.description-1 .confix .main-top .title p {
  font-size: 1em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .title p {
    font-size: 2.8vmin;
  }
}

body main section.description-1 .confix .main-top .title p .title-text {
  font-size: 1.3em;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .title p .title-text {
    font-size: 3.6vmin;
  }
}

body main section.description-1 .confix .main-top .title .title-right {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.9em;
  color: #ab47bc;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .title .title-right {
    font-size: 2.5vmin;
    -webkit-transform: translate(50%, 80%);
            transform: translate(50%, 80%);
  }
}

@media screen and (min-width: 1320px) {
  body main section.description-1 .confix .main-top .title .title-right {
    font-size: 2.5vmin;
    -webkit-transform: translate(60%, 80%);
            transform: translate(60%, 80%);
  }
}

body main section.description-1 .confix .main-top .main-image1 {
  float: right;
  width: 35%;
  -webkit-transform: translate(67%, -60%);
          transform: translate(67%, -60%);
}

@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .main-image1 {
    -webkit-transform: translate(57%, -65%);
            transform: translate(57%, -65%);
  }
}

body main section.description-1 .confix .main-top .main-image1 img {
  width: 100%;
}

body main section.description-1 .confix .main-top .main-image2 {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  padding-left: 1%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .main-image2 {
    display: block;
  }
  body main section.description-1 .confix .main-top .main-image2 img {
    width: 20vmax;
  }
}

@media screen and (min-width: 1320px) {
  body main section.description-1 .confix .main-top .main-image2 img {
    width: 38vmin;
  }
}

body main section.description-1 .confix .main-top .main-image3 {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
  -webkit-transform: translate(-90%, -50%);
          transform: translate(-90%, -50%);
}

@media screen and (min-width: 768px) {
  body main section.description-1 .confix .main-top .main-image3 {
    display: block;
  }
}

body main section.description-1 .confix .main-top .main-image3 img {
  width: 4vmax;
}

body main section.description-2 .confix {
  padding-top: 2%;
  padding-left: 4%;
  padding-right: 4%;
  position: relative;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

body main section.description-2 .confix .introduce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main section.description-2 .confix .introduce p {
  font-weight: bold;
  font-size: 1.1em;
}

body main section.description-2 .confix .introduce img {
  width: 5.5em;
}

body main section.description-2 .confix .vision {
  margin-top: 4em;
}

body main section.description-2 .confix .vision h2 {
  text-align: center;
}

body main section.description-2 .confix .vision h2 span {
  font-size: 1.7em;
  background: -webkit-gradient(linear, left top, right top, from(#55cc7c), to(#f5f97f));
  background: linear-gradient(to right, #55cc7c, #f5f97f);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

body main section.description-2 .confix .vision p {
  margin-top: 3em;
  text-align: center;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  body main section.description-2 .confix .vision p .br-none {
    display: none;
  }
}

@media screen and (min-width: 1320px) {
  body main section.description-2 .confix .vision p {
    font-size: 1.1em;
  }
}

body main section.description-2 .confix .up-img2 {
  display: none;
}

body main section.description-2 .confix .introduction {
  margin-top: 4em;
}

body main section.description-2 .confix .introduction h2 {
  text-align: left;
  margin-bottom: 0.5em;
}

@media screen and (min-width: 1320px) {
  body main section.description-2 .confix .introduction h2 {
    padding-left: 150px;
  }
}

body main section.description-2 .confix .introduction h2 span {
  font-size: 1.6em;
  background: -webkit-gradient(linear, left top, right top, from(#19fff4), to(#aeffae));
  background: linear-gradient(to right, #19fff4, #aeffae);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

body main section.description-2 .confix .introduction .introduction-flex {
  width: 100%;
}

@media screen and (min-width: 768px) {
  body main section.description-2 .confix .introduction .introduction-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2em;
  }
}

@media screen and (min-width: 1320px) {
  body main section.description-2 .confix .introduction .introduction-flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 4em;
  }
}

body main section.description-2 .confix .introduction .introduction-flex .personal {
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 7px #fff;
          box-shadow: 0px 0px 7px #fff;
  color: #000;
  background-color: #e8f5e9;
}

@media screen and (min-width: 768px) {
  body main section.description-2 .confix .introduction .introduction-flex .personal {
    width: 50%;
    height: 30em;
  }
}

@media screen and (min-width: 1320px) {
  body main section.description-2 .confix .introduction .introduction-flex .personal {
    width: 35%;
  }
}

body main section.description-2 .confix .introduction .introduction-flex .personal ul li .personal-text {
  font-size: 1.4em;
  margin-bottom: 5px;
}

body main section.description-2 .confix .introduction .introduction-flex .personal ul li ol {
  margin-bottom: 20px;
}

body main section.description-2 .confix .introduction .introduction-flex .personal ul li ol li {
  font-size: 1em;
  text-align: justify;
  line-height: 20px;
}

body main section.description-2 .confix .introduction .introduction-flex .ability {
  margin-top: 1.5em;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 7px #fff;
          box-shadow: 0px 0px 7px #fff;
  color: #000;
  background-color: #e8f5e9;
}

@media screen and (min-width: 768px) {
  body main section.description-2 .confix .introduction .introduction-flex .ability {
    width: 50%;
    margin-top: 0;
  }
}

@media screen and (min-width: 1320px) {
  body main section.description-2 .confix .introduction .introduction-flex .ability {
    width: 35%;
  }
}

body main section.description-2 .confix .introduction .introduction-flex .ability .ability-text {
  font-size: 1.4em;
  margin-bottom: 1em;
}

body main section.description-2 .confix .introduction .introduction-flex .ability .skills-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

@media screen and (min-width: 768px) {
  body main section.description-2 .confix .introduction .introduction-flex .ability .skills-img img {
    width: 19vmin;
  }
}

body main section.description-2 .confix .introduction .introdoution-bottom {
  float: right;
  margin: 0.5em 0;
}

@media screen and (min-width: 1320px) {
  body main section.description-2 .confix .introduction .introdoution-bottom {
    padding-right: 149px;
  }
}

body main section.description-2 .confix .introduction .introdoution-bottom span {
  font-size: 1.1em;
  background: -webkit-gradient(linear, left top, right top, from(#19fff4), to(#aeffae));
  background: linear-gradient(to right, #19fff4, #aeffae);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

body main section.description-3 {
  margin: 5em 0;
  overflow: hidden;
  width: 100%;
  height: 18vmin;
  background: url(../images/movebackground01.png) 0 center/100px repeat-x;
  background-size: cover;
  -webkit-animation: movebg 10s linear infinite;
          animation: movebg 10s linear infinite;
}

@media screen and (min-width: 768px) {
  body main section.description-3 {
    height: 18vmax;
  }
}

@-webkit-keyframes movebg {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: -500px center;
  }
}

@keyframes movebg {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: -500px center;
  }
}

body main section.description-3 .move-bg {
  position: relative;
}

body main section.description-3 .move-bg .moving-ship {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(10%, 50%);
          transform: translate(10%, 50%);
  -webkit-animation: moveimg 7s ease-in-out infinite;
          animation: moveimg 7s ease-in-out infinite;
}

@media screen and (min-width: 768px) {
  body main section.description-3 .move-bg .moving-ship {
    -webkit-transform: translate(10%, 30%);
            transform: translate(10%, 30%);
  }
}

@media screen and (min-width: 1320px) {
  body main section.description-3 .move-bg .moving-ship {
    -webkit-transform: translate(10%, 40%);
            transform: translate(10%, 40%);
  }
}

@-webkit-keyframes moveimg {
  0% {
    left: -150px;
  }
  100% {
    left: 100%;
  }
}

@keyframes moveimg {
  0% {
    left: -150px;
  }
  100% {
    left: 100%;
  }
}

body main section.description-3 .move-bg .moving-ship img {
  width: 9vw;
}

@media screen and (min-width: 768px) {
  body main section.description-3 .move-bg .moving-ship img {
    width: 11vw;
  }
}

body main section.description-4 {
  margin-bottom: 10em;
}

body main section.description-4 .confix {
  padding-top: 2%;
  padding-left: 4%;
  padding-right: 4%;
  position: relative;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

body main section.description-4 .confix .direction-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media screen and (min-width: 768px) {
  body main section.description-4 .confix .direction-text {
    margin-bottom: 5em;
  }
}

body main section.description-4 .confix .direction-text h2 {
  text-align: left;
}

body main section.description-4 .confix .direction-text h2 span {
  font-size: 1.6em;
  background: -webkit-gradient(linear, left top, right top, from(#7530e3), to(#e1afcc));
  background: linear-gradient(to right, #7530e3, #e1afcc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

body main section.description-4 .confix .direction-text img {
  width: 2.5em;
  margin-left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
  body main section.description-4 .confix .direction-box .coding-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 6em;
  }
}

body main section.description-4 .confix .direction-box .coding-box > img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  body main section.description-4 .confix .direction-box .coding-box > img {
    width: 41vmin;
  }
}

body main section.description-4 .confix .direction-box .coding-box .coding-box-textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
}

@media screen and (min-width: 768px) {
  body main section.description-4 .confix .direction-box .coding-box .coding-box-textbox {
    width: 32%;
    margin-left: 2em;
  }
}

body main section.description-4 .confix .direction-box .coding-box .coding-box-textbox img {
  width: 23px;
  height: 23px;
  margin-right: 0.6em;
  -webkit-transform: translateY(22%);
          transform: translateY(22%);
}

body main section.description-4 .confix .direction-box .coding-box .coding-box-textbox .coding-box-text {
  margin-bottom: 3em;
}

body main section.description-4 .confix .direction-box .coding-box .coding-box-textbox .coding-box-text h2 {
  margin-bottom: 20px;
  text-align: justify;
}

body main section.description-4 .confix .direction-box .coding-box .coding-box-textbox .coding-box-text p {
  font-size: 0.9em;
  text-align: justify;
}

body main section.description-4 .confix .direction-bottom {
  float: right;
}

body main section.description-4 .confix .direction-bottom span {
  font-size: 1.1em;
  background: -webkit-gradient(linear, left top, right top, from(#7530e3), to(#e1afcc));
  background: linear-gradient(to right, #7530e3, #e1afcc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

body main section.description-5 {
  clear: both;
}

body main section.description-5 .confix {
  padding-top: 2%;
  padding-left: 4%;
  padding-right: 4%;
  position: relative;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

body main section.description-5 .confix .portfolio-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 5em;
}

body main section.description-5 .confix .portfolio-text h2 {
  text-align: left;
}

body main section.description-5 .confix .portfolio-text h2 span {
  font-size: 1.6em;
  background: -webkit-gradient(linear, left top, right top, from(#f83600), to(#facc22));
  background: linear-gradient(to right, #f83600, #facc22);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

body main section.description-5 .confix .portfolio-text img {
  width: 3.5em;
  margin-left: 20px;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

body main section.description-5 .confix .portfolio-box {
  width: 100%;
}

@media screen and (min-width: 768px) {
  body main section.description-5 .confix .portfolio-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 6em;
  }
}

body main section.description-5 .confix .portfolio-box img {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  body main section.description-5 .confix .portfolio-box img {
    width: 50%;
  }
}

body main section.description-5 .confix .portfolio-box .portfolio-text-box {
  margin-bottom: 6em;
}

@media screen and (min-width: 768px) {
  body main section.description-5 .confix .portfolio-box .portfolio-text-box {
    width: 40%;
    padding-left: 80px;
  }
}

@media screen and (min-width: 1320px) {
  body main section.description-5 .confix .portfolio-box .portfolio-text-box {
    width: 30%;
    padding-left: 100px;
  }
}

body main section.description-5 .confix .portfolio-box .portfolio-text-box h3 {
  font-size: 1.3em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1320px) {
  body main section.description-5 .confix .portfolio-box .portfolio-text-box h3 {
    font-size: 1.5em;
    margin-bottom: 60px;
  }
}

body main section.description-5 .confix .portfolio-box .portfolio-text-box p {
  line-height: 40px;
}

@media screen and (min-width: 1320px) {
  body main section.description-5 .confix .portfolio-box .portfolio-text-box p {
    line-height: 50px;
  }
}

body main section.description-5 .confix .portfolio-box .portfolio-text-box p span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  border-radius: 50%;
  background-color: red;
}

body main section.description-5 .confix .portfolio-box .portfolio-text-box p strong {
  font-size: 1.3em;
}

body main section.description-5 .confix .portfolio-box .portfolio-text-box button {
  font-size: 0.8em;
  border: 1px solid #000;
  margin-top: 20px;
  padding: 5px 15px;
  background-color: transparent;
  cursor: pointer;
}

body main section.description-5 .confix .portfolio-bottom {
  float: right;
}

body main section.description-5 .confix .portfolio-bottom span {
  font-size: 1.1em;
  background: -webkit-gradient(linear, left top, right top, from(#f83600), to(#facc22));
  background: linear-gradient(to right, #f83600, #facc22);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

body main section.description-6 {
  clear: both;
  margin-top: 13em;
}

body main section.description-6 .confix {
  padding-top: 2%;
  padding-left: 4%;
  padding-right: 4%;
  position: relative;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

body main section.description-6 .confix h2 {
  text-align: left;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  body main section.description-6 .confix h2 {
    margin-bottom: 100px;
  }
}

body main section.description-6 .confix h2 span {
  font-size: 1.6em;
  background: -webkit-gradient(linear, left top, right top, from(#0dccff), to(#4760ff));
  background: linear-gradient(to right, #0dccff, #4760ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

body main section.description-6 .confix .moon-up-img {
  display: none;
}

@media screen and (min-width: 768px) {
  body main section.description-6 .confix .moon-up-img {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(190%, -132%);
            transform: translate(190%, -132%);
  }
}

@media screen and (min-width: 1320px) {
  body main section.description-6 .confix .moon-up-img {
    -webkit-transform: translate(190%, -122%);
            transform: translate(190%, -122%);
  }
}

body main section.description-6 .confix .contact-text {
  font-size: 1.1em;
  text-align: center;
  line-height: 30px;
}

body main section.description-6 .confix .contact-text .contact-text-me {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  body main section.description-6 .confix .contact-text .contact-text-me .contact-br {
    display: none;
  }
}

body main section.description-6 .confix .contact-text .email-address {
  font-size: 2em;
}

body main section.description-6 .confix .contact-text .email-address-smalltext {
  font-size: 0.7em;
  color: #666;
}

body main section.description-6 .confix .contact-text .email_greeting {
  margin-top: 30px;
}

body main section.description-6 .confix .moon-star-img {
  display: none;
}

@media screen and (min-width: 768px) {
  body main section.description-6 .confix .moon-star-img {
    display: block;
    position: absolute;
    bottom: -27%;
    left: 2%;
  }
  body main section.description-6 .confix .moon-star-img img {
    width: 96px;
    height: 117px;
  }
}

@media screen and (min-width: 1320px) {
  body main section.description-6 .confix .moon-star-img {
    left: 17%;
  }
}

body main section.description-6 .confix .contact-bottom {
  float: right;
  margin-top: 60px;
}

body main section.description-6 .confix .contact-bottom span {
  font-size: 1.1em;
  background: -webkit-gradient(linear, left top, right top, from(#0dccff), to(#4760ff));
  background: linear-gradient(to right, #0dccff, #4760ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

body footer {
  margin-top: 240px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: #333;
}
/*# sourceMappingURL=index.css.map */