@import "style.scss";
@import "common.scss";
@import "mixin.scss"; 


body {
    color: #f2f2f2;
    background-color: $main-backgroundcolor;
    header {
        display: none;
        @include responsive(pc2-size) {
            display: inline;
        }
        h1 {
            @include responsive(pc2-size) {
                position: absolute;
                top: 20px; left: 20px;
            }
        }
    }
    
    main {

        section.description-1 {
            overflow: hidden;

            .banner-img {
                display: block;
                width: 100%;
                position: absolute;
                padding-top: 20%;
                z-index: -1;
                
                @include responsive(tablet-size) {
                    padding-top: 0;
                }
            }
            
            .confix {
                .main-top {
                    @include padding-set();
                    @include confix();
                    
                    height: 580px;

                    @include responsive(tablet-size) {
                        height: 780px;
                    }

                    @include responsive(pc-size) {
                        height: 980px;
                    }

                    // 숫자 LIST
                    .num-motion {
                        position: absolute;
                        left: 3%;
                        text-align: center;

                        @include responsive(tablet-size) {
                            font-size: 3vmin;
                        }
    
                        @include responsive(pc-size) {
                            height: 900px;
                            line-height: 36px;
                        }
    
                    }

                    // DOCTYPE
                    .docty {
                        position: absolute;
                        left: 10%;
                        color: #003c8f;
                        @include responsive(tablet-size) {
                            font-size: 3vmin;
                        }
    
                        @include responsive(pc-size) {
                            height: 900px;
                            line-height: 36px;
                        }
                    }

                    // HELLO
                    .hello {
                        position: absolute;
                        top: 18%; left: 50%; 
                        transform: translateX(-50%);
                        
                        .hello-left {
                            font-size: 0.9em;
                            color: #b6c017;
                            transform: translateY(-1px);
                            @include responsive(tablet-size) {
                                font-size: 2.5vmin;
                            }
                        }

                        .hello-text {
                            width: 250px; height: 60px;
                            line-height: 60px;
                            border-radius: 10px;
                            background-color: white;
                            cursor: pointer;
                            filter: drop-shadow(3px 4px 1px rgba(255,255,255,0.7));
                            @include responsive(tablet-size) {
                                width: 40vmax; height: 10vmin;
                                line-height: 10vmin;
                            }

                            @include responsive(pc-size) {
                                width: 35vmax; height: 11vmin;
                                line-height: 11vmin;
                            }

                            p {
                                font-size: 1.4em;
                                text-align: center;
                                color: #333;
                                @include responsive(tablet-size) {
                                    font-size: 3vw;
                                }
                                @include responsive(pc-size) {
                                    font-size: 2.5vw;
                                }
                            }
                        }

                        .balloon_triangle {
                            position: absolute;
                            bottom: 0%; left: 50%;
                            display: block;
                            width: 0px; height: 0px;
                            border-top: solid 30px #fff;
                            border-left: solid 15px transparent;
                            border-right: solid 15px transparent;
                            filter: drop-shadow(1px 4px 1px rgba(255,255,255,0.7));
                            transform: translate(-50%,42%);
                            // transition: all 0.6s;

                            @include responsive(tablet-size) {
                                border-top: solid 50px #fff;
                                border-left: solid 25px transparent;
                                border-right: solid 25px transparent;
                                transform: translate(-50%,47%);

                            }

                            @include responsive(pc-size) {
                                border-top: solid 70px #fff;
                                border-left: solid 35px transparent;
                                border-right: solid 35px transparent;
                                transform: translate(-50%,57%);
                            }
                        }

                        .hello-right {
                            float: right;
                            font-size: 0.9em;
                            color: #b6c017;
                            transform: translateY(1px);
                            
                            @include responsive(tablet-size) {
                                font-size: 2.5vmin;
                            }
                        }
                    }

                    // ITS_ME
                    .its-me {
                        position: absolute;
                        top: 42%; left: 50%;
                        transform: translateX(-50%);
                        
                        .its-left {
                            position: absolute;
                            top: 0; left: 0;
                            font-size: 0.9em;
                            color: #d38e44;
                            transform: translateX(-90%);
                            @include responsive(tablet-size) {
                                font-size: 2.5vmin;
                            }
                        }

                        .its-images {
                            width: 100px; height: 100px;
                            text-align: center;
                            border-radius: 50%;
                            background-color: #656565;
                            @include responsive(tablet-size) {
                                width: 13vmax; height: 13vmax; 
                            }
                            @include responsive(pc-size) {
                                width: 7vmax; height: 7vmax; 
                            }
                            
                            .image {
                                width: 90px; height: 90px;
                                border-radius: 100%;
                                background-color: #fff;
                                transform: translateY(5%);
                                @include responsive(tablet-size) {
                                    width: 12vmax; height: 12vmax;
                                }
                                @include responsive(pc-size) {
                                    width: 6.4vmax; height: 6.4vmax;
                                }
                            }
                        }

                        .its-right {
                            position: absolute;
                            bottom: 0; right: 0;
                            font-size: 0.9em;
                            color: #d38e44;
                            transform: translateX(90%);
                            @include responsive(tablet-size) {
                                font-size: 2.5vmin;
                            }
                        }
                    } // ITS_ME 종료

                    // TITLE
                    .title {
                        position: absolute;
                        top: 70%; left: 50%;
                        transform: translateX(-50%);

                        .title-left {
                            font-size: 0.9em;
                            color: #ab47bc;
                            transform: translateX(-20%);
                            @include responsive(tablet-size) {
                                font-size: 2.5vmin;
                            }
                        }

                        p {
                            font-size: 1em;
                            text-align: center;
                            @include responsive(tablet-size) {
                                font-size: 2.8vmin;
                            }

                            .title-text {
                                font-size: 1.3em;
                                font-weight: bold;
                                @include responsive(tablet-size) {
                                    font-size: 3.6vmin;
                                }
                            }
                        }

                        .title-right {
                            position: absolute;
                            bottom: 0; right: 0;
                            font-size: 0.9em;
                            color: #ab47bc;
                            transform: translate(50%, 50%);
                            @include responsive(tablet-size) {
                                font-size: 2.5vmin;
                                transform: translate(50%, 80%);
                            }
                            @include responsive(pc-size) {
                                font-size: 2.5vmin;
                                transform: translate(60%, 80%);
                            }
                        }
                    }// TITLE 종료

                    // 회전하는 우주이미지
                    .main-image1 {
                        float: right;
                        width: 35%;
                        transform: translate(67%, -60%);
                        @include responsive(tablet-size) {
                            transform: translate(57%, -65%);
                        }
                        img {
                            width: 100%;
                            animation: spin-space 15s linear infinite;
                
                            @keyframes spin-space {
                                0% {transform: rotateZ(0deg);}
                                100% {transform: rotateZ(360deg);}
                            }
                        }
                        
                    }

                    // 외계인이랑 손잡는 이미지
                    .main-image2 {
                        position: absolute;
                        bottom: 0; left: 0;
                        display: none;
                        padding-left: 1%;
                        transform: translateY(-40%);

                        @include responsive(tablet-size) {
                            display: block;
                            img {
                                width: 20vmax;
                            }
                        }
                        @include responsive(pc-size) {
                            img {
                                width: 38vmin;
                            }
                        }
                    } 

                    // 풍선 올라가는 이미지1
                    .main-image3 {
                        position: absolute;
                        bottom: 0; right: 0;
                        display: none;
                        transform: translate(-90%, -50%);
                        @include responsive(tablet-size) {
                            display: block;
                        }

                        img {
                            width: 4vmax;
                        }
                    } 
                }
            }
        } // section.description-1 종료
        
        section.description-2 {
            .confix {
                @include padding-set();
                @include confix();

                // introduce
                .introduce {
                    display: flex;

                    p {
                        font-weight: bold;
                        font-size: 1.1em;
                    }
                    img {
                        width: 5.5em;
                    }
                }

                // VISION
                .vision {
                    margin-top: 4em;
                    h2 {
                        text-align: center;

                        span {
                            font-size: 1.7em;
                            background: $vision-text;
                            @include gradienttitle();
                        }
                    }

                    p {
                        margin-top: 3em;
                        text-align: center;
                        font-weight: 500;
                        @include responsive(tablet-size) {
                            .br-none {
                                display: none;
                            }
                        }
                        @include responsive(pc-size) {
                            font-size: 1.1em;
                        }
                    }
                }

                // 풍선올라가는 이미지2
                .up-img2 {
                    display: none;
                }

                // INTRODUCTION
                .introduction {
                    margin-top: 4em;

                    // <introduction> 상위 텍스트
                    h2 {
                        text-align: left;
                        margin-bottom: 0.5em;
                        @include responsive(pc-size) {
                            padding-left: 150px;
                        }
                        span {
                            font-size: 1.6em;
                            background: $int-text;
                            @include gradienttitle();
                        }
                    } 

                    .introduction-flex {
                        
                        width: 100%;
                        @include responsive(tablet-size) {
                            display: flex;
                            gap: 2em;
                        }
                        @include responsive(pc-size) {
                            justify-content: center;
                            gap: 4em;
                        }

                        // personal
                        .personal {
                            padding: 10px;
                            border-radius: 5px;
                            box-shadow: 0px 0px 7px #fff;
                            color: #000;
                            background-color: #e8f5e9;

                            @include responsive(tablet-size) {
                                width: 50%; height: 30em;
                            }

                            @include responsive(pc-size) {
                                width: 35%;
                            }
                    
                            ul {
                                li {
                                    .personal-text {
                                        font-size: 1.4em;
                                        margin-bottom: 5px;
                                    }
    
                                    ol {
                                        margin-bottom: 20px;
    
                                        li {
                                            font-size: 1em;
                                            text-align: justify;
                                            line-height: 20px;
                                        }
                                    }
                                }
                            }
                        } // personal 종료
                        
                        // ability
                        .ability {
                            margin-top: 1.5em;
                            padding: 10px;
                            border-radius: 5px;
                            box-shadow: 0px 0px 7px #fff;
                            color: #000;
                            background-color: #e8f5e9;
                            @include responsive(tablet-size) {
                                width: 50%;
                                margin-top: 0;
                            }
                            @include responsive(pc-size) {
                                width: 35%;
                            }

                            .ability-text {
                                font-size: 1.4em;
                                margin-bottom: 1em;
                            }

                            .skills-img {
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-wrap: wrap;
                                gap: 15px;

                                @include responsive(tablet-size) {
                                    img {
                                        width: 19vmin;
                                    }
                                }
                            }
                        } // ability종료
                    } // introduction-flex종료

                    // </introdoution> 하위 텍스트
                    .introdoution-bottom {
                        float: right;
                        margin: 0.5em 0;
                        @include responsive(pc-size) {
                            padding-right: 149px;
                        }
                        span {
                            font-size: 1.1em;
                            background: $int-text;
                            @include gradienttitle();
                        }
                    } 

                } // introduction 종료
            } // confix
        } // section.description-2 종료

        // 움직이는 배경과 우주선
        section.description-3 {
            margin: 5em 0;
            overflow: hidden;
            width: 100%;
            height: 18vmin;
            background: url(../images/movebackground01.png) 0 center / 100px repeat-x;
            background-size: cover;
            @include responsive(tablet-size) {
                height: 18vmax;
            }

            animation: movebg 10s linear infinite;
            
            @keyframes movebg {
                0% {background-position:0 center;}
                100% {background-position:-500px center;}
            }


            .move-bg {
                position: relative;
                
                .moving-ship {
                    position: absolute;
                    top: 0; left: 0;
                    transform: translate(10%, 50%);
                    @include responsive(tablet-size) {
                        transform: translate(10%, 30%);
                    }
                    @include responsive(pc-size) {
                        transform: translate(10%, 40%);
                    }
                    animation: moveimg 7s ease-in-out infinite;
                    @keyframes moveimg {
                        0% {left : -150px;}
                        // 50% {transform: rotateZ(30deg);}
                        // 60% {transform: rotateZ(360deg);}
                        100% {left : 100%;}
                    }
                    

                    img {
                        width: 9vw;

                        @include responsive(tablet-size) {
                            width: 11vw;
                        }
                        
                    }
                } // moving-ship 종료
            } // move-bg 종료
        } // section.description-3 종료

        section.description-4 {
            margin-bottom: 10em;
            .confix {
                @include padding-set();
                @include confix();

                .direction-text {
                    display: flex;
                    width: 100%;
                    @include responsive(tablet-size) {
                        margin-bottom: 5em;
                    }
                    
                    // <direction> 상위 텍스트
                    h2 {
                        text-align: left;
                        
                        span {
                            font-size: 1.6em;
                            background: $dire-text;
                            @include gradienttitle();
                        }
                    } 

                    img {
                        width: 2.5em;
                        margin-left: 20px;
                        transform: translateY(-50%);
                    }
                } // direction-text 종료

                // direction의 코딩 박스
                .direction-box {

                    .coding-box {
                        @include responsive(tablet-size) {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 6em;
                        }

                        > img {
                            width: 100%;
                            @include responsive(tablet-size) {
                                width: 41vmin;
                            }
                           
                        }

                        .coding-box-textbox {
                            display: flex;
                            margin-top: 1em;
                            @include responsive(tablet-size) {
                                width: 32%;
                                margin-left: 2em;
                            }

                            img {
                                width: 23px; height: 23px;
                                margin-right: 0.6em;
                                transform: translateY(22%);
                            }
                            .coding-box-text{
                                margin-bottom: 3em;
                                h2 {
                                    margin-bottom: 20px;
                                    text-align: justify;
                                }
                                p { 
                                    font-size: 0.9em;
                                    text-align: justify;
                                }
                            }
                        }
                    } 
                }// direction-box 종료

                // </direction> 하위 텍스트
                .direction-bottom {
                    float: right;

                    span {
                        font-size: 1.1em;
                        background: $dire-text;
                        @include gradienttitle();
                    }
                } 

            } // confix 종료
        } // section.description-4 종료

        section.description-5 {
            clear: both;
            .confix {
                @include padding-set();
                @include confix();

                .portfolio-text {
                    display: flex;
                    width: 100%;
                    margin-bottom: 5em;
                    // <portfolio> 상위 텍스트
                    h2 {
                        text-align: left;
                        
                        span {
                            font-size: 1.6em;
                            background: $port-text;
                            @include gradienttitle();
                        }
                    } 

                    img {
                        width: 3.5em;
                        margin-left: 20px;
                        transform: translateY(-40%);
                    }
                } // direction-text 종료

                // 포트폴리오 박스
                .portfolio-box {
                    width: 100%;
                    @include responsive(tablet-size) {
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        margin-bottom: 6em;
                    }

                    // 포트폴리오 이미지
                    img {
                        width: 100%;
                        margin-bottom: 30px;
                        @include responsive(tablet-size) {
                            width: 50%;
                        }
                        
                    }

                    // 포트폴리오 텍스트
                    .portfolio-text-box {
                        margin-bottom: 6em;
                        @include responsive(tablet-size) {
                            width: 40%;
                            padding-left: 80px;
                        }

                        @include responsive(pc-size) {
                            width: 30%;
                            padding-left: 100px;
                        }

                        h3 {
                            font-size: 1.3em;
                            margin-bottom: 30px;
                            @include responsive(pc-size) {
                                font-size: 1.5em;
                                margin-bottom: 60px;
                            }
                        }

                        p {
                            line-height: 40px;
                            @include responsive(pc-size) {
                                line-height: 50px;
                            }
                            span {
                                display: inline-block;
                                width: 10px; height: 10px;
                                margin-left: 5px;
                                border-radius: 50%;
                                background-color: red;
                            }
                            strong {
                                font-size: 1.3em;
                            }
                        }

                        button {
                            font-size: 0.8em;
                            border: 1px solid #000;
                            margin-top: 20px;
                            padding: 5px 15px;
                            background-color: transparent;
                            cursor: pointer;
                        }
                    }

                }

                // </portfolio> 하위 텍스트
                .portfolio-bottom {
                    float: right;

                    span {
                        font-size: 1.1em;
                        background: $port-text;
                        @include gradienttitle();
                    }
                } 
            } // confix
        } // section.description-5 종료

        section.description-6 {
            clear: both;
            margin-top: 13em;

            .confix {
                @include padding-set();
                @include confix();

                // <contact> 상위 텍스트
                h2 {
                    text-align: left;
                    margin-bottom: 50px;
                    @include responsive(tablet-size) {
                        margin-bottom: 100px;
                    }
                    span {
                        font-size: 1.6em;
                        background: $cont-text;
                        @include gradienttitle();
                    }
                }

                // 달위에 깃발 들고있는 이미지
                
                .moon-up-img {
                    display: none;
                    @include responsive(tablet-size) {
                        display: inline-block;
                        position: absolute;
                        left: 50%; top: 50%;
                        transform: translate(190%,-132%);
                    }
                    @include responsive(pc-size) {
                        
                        transform: translate(190%,-122%);
                    }
                }

                // contact 가운데 텍스트
                .contact-text {
                    font-size: 1.1em;
                    text-align: center;
                    line-height: 30px;
                    .contact-text-me {
                        margin-bottom: 30px;
                        .contact-br {
                            @include responsive(tablet-size) {
                                display: none;
                            }
                        }
                    }

                    .email-address{
                        font-size: 2em;
                    }
                    .email-address-smalltext {
                        font-size: 0.7em;
                        color: #666;
                    }
                    .email_greeting {
                        margin-top: 30px;
                    }
                }

                // 달위에-낚시하는-이미지
                .moon-star-img {
                    display: none;
                    @include responsive(tablet-size) {
                        display: block;
                        position: absolute;
                        bottom: -27%; left: 2%; 
                        img {
                            width: 96px; height: 117px;
                        }
                    }
                    @include responsive(pc-size) {
                        left: 17%;
                    }
                }

                // </contact> 하위 텍스트
                .contact-bottom {
                    float: right;
                    margin-top: 60px;
                    span {
                        font-size: 1.1em;
                        background: $cont-text;
                        @include gradienttitle();
                    }
                } 
            } // confix
        } // section.description-6 종료
    } // main

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 240px;
        padding: 50px;
        background-color: #333;
        h2 {
            margin-left: 30px;
        }
    }
}