@mixin confix {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

@mixin responsive($break) {
    
    @if $break == mobile-size {
        @media screen and (min-width:$break-moblie) {
            @content;
        }
    }

    @else if $break == tablet-size {
        @media screen and (min-width:$break-tablet) {
            @content;
        }
    }

    @else if $break == pc-size {
        @media screen and (min-width:$break-pc) {
            @content;
        }
    }
}

@mixin gradienttitle() {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}